.image {
  background-image: url('http://dailyfantasysportsreviews.info/wp-content/uploads/2013/10/football-on-field.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.players-container {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -50px;
  width: 400px;
  height: 300px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 2px 2px 30px black;
  border: 2px solid black;



}
