.main-nav {
  height: 80px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

}

.main-nav *{
  text-decoration: none;
  color: white;
}

.nav-logo {
  color: white;
}
